# Dependencias de Node.js
node_modules/

# Archivos temporales de Angular
.angular/

# Compilación
dist/

# Registros
*.log
npm-debug.log*

# Configuración local
.env
.env.*

# Archivos del sistema operativo
.DS_Store
Thumbs.db